$Solidblue: #7FA6C9;
$Darkerblue: #3F7CA5;
$Grey: #8B8F9C;
$purple: #DE5867;
// Second Pallet
$turkuaz: #70CDD6;
$darkerturkuaz: #4699C2;
$orange: #F79C65;
$rosepink: #FC8476;
// Third Pallet
$petrolgreen: #1C8F9C;
$darkerorange: #FC9D6F;
$darkorange: #E87A54;
$brown: #885239;